.admin-about-us {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.admin-about-form {
  width: 80%;
  background-color: #fff;
  min-height: 70vh;
  height: auto;
  border-radius: 10px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
}

.submit-ab-u-btn {
  margin-top: 70px;
  width: 100px;
  border: 0;
  border-radius: 5px;
  height: 50px;
  color: #fff;
  background-color: rgb(2, 40, 66);
  margin-left: 10px;
}

.submit-ab-u {
  margin-top: 50px;
}

.submit-ab-u-btn.red {
  background-color: red;
  height: 50px;
}
