.products-bg{
    background-image: url("../../assets/about-bg.png");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-attachment: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    
}
.pr-alazani-text {
    width: 22%;
    background-image: url("../../assets/about-bg-writing.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
    background-size: contain;
    position: absolute;
    margin-left: 4%;
    right: 7%;
    
    z-index: 1;
}
.empty{
    height: 35vh;
    
}