@font-face {
    font-family: 'GLKirovi-Bold';
    src: url('../../../assets/fonts/gl-kirovi-bold.ttf') format('truetype');
    /* Add more src declarations if you have different font file formats */
    /* Specify other properties like font-weight and font-style if needed */
  }

.staff-wrapper{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.staff-title{
    height: 55px;
    font-size: 30px;
    font-weight: 900;
    font-family: "GLKirovi-Bold";

}

.staff-name{
    font-size: 15px;
    font-family: 'GLKirovi-Bold';
}

.staff-favWine{
    height: auto;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.forP{
    margin-top: 20px;
    background-color: rgba(0,0,0,0.7);
    width: 120%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "GLKirovi-Bold";
}

@media screen and (max-width: 768px)  {
    .staff-wrapper{
        height: 250px;
        border-bottom: 1px groove black;
    }
    
}