@font-face {
	font-family: FiraGO-Regular;
	src: url("../../assets/fonts/FiraGO-Regular.woff2")
}

@font-face {
    font-family: 'GLKirovi-Bold';
    src: url('../../assets/fonts/gl-kirovi-bold.ttf') format('truetype');
    /* Add more src declarations if you have different font file formats */
    /* Specify other properties like font-weight and font-style if needed */
  }


.ab-about-us{
    background-image: url("../../assets/about-bg.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: absolute;
}

.ab-alazani-text {
    width: 96%;
    background-image: url("../../assets/about-bg-writing.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
    background-size: contain;
    position: absolute;
    margin-left: 4%;
    top: -46%;
    z-index: 1;
}
.ab-empty{
    height: 40%;
}
.ab-alazani-wrapper{
    display: flex;
    font-size: 30px;
    position: relative;
    background-image: url("../../assets/about-bg.png");
    background-size: cover;
    width: 100%;
    
    background-attachment: fixed;
}

.ab-about-picture {
    width: 100%;
    object-fit: cover;
}
.ab-picture {
    margin-top: 34px;
    width: 45%;
    margin-left: -5%;
    position: absolute;
    z-index: 2; /* Increase z-index value */
  }
  
  .ab-description {
    margin-top: 300px;
    left: 25%;
    width: calc(100% - 25%);
    background-color: white;
    position: relative; /* Change to relative */
    z-index: 1; /* Decrease z-index value */
  }

.ab-main-text{
    position: relative;
    z-index: 3;
    margin-left: 18%;
    margin-top: 10px;
    margin-left: 20%;
    position: relative;
    padding: 40px 20px 40px 60px;
    font-family: FiraGO-Regular;
    line-height: 1.5em;
    font-size: 22px;
    width: 65%;
}

.ab-description-paragraph{
    white-space: pre-line;
}

#ab-component-name{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-family: GLKirovi-Bold;
    font-weight: 700;
    
}
#ab-component-name:visited{
    text-decoration: none;

}




#ab-angleLeft{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-family: GLKirovi-Bold;
    font-weight: 700;
    margin: auto;
    margin-right: 30px;
}

.staff{
    background-color: #f1f1f1;
    height: 350px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.staff-header{
    font-size: 50px;
    font-family:  FiraGO-Regular;
    margin-top: 20px;
}
.staff-list{
    display: flex;
    width: 100%;
    margin-top: 40px;
    align-items: center;
    justify-content: center;    
}


@media screen and (max-width: 768px) {
    .ab-history{
        top: 10%;
    }
    .ab-empty{
        height: 280px;
    }
    .ab-alazani-text{
        display: none;
    }
    .ab-alazani-wrapper{
        display: block;
        position: relative;
        font-size: 0;
    }
    .ab-picture{
        width: 98%;
        margin-left: 1%;
        position: relative;
    }
    .ab-description{
        margin-top: -10px;
        position: static;
        width: 100%;
    }
    .ab-main-text{
        position: static;
        margin-left: 17%;

    }
    .staff-list{
        flex-direction: column;
        
    }
    .staff{
        height: auto;
    }


}
