@font-face {
	font-family: Bebas-Neue;
	src: url("../../assets/fonts/bebas-neue-bold.otf")
}
@font-face {
	font-family: Galaktioni;
	src: url("../../assets/fonts/DM-Galaktioni-UNI.ttf")
}
@font-face {
	font-family: webFont;
	src: url("../../assets/fonts/bpg_web_002.ttf")
}
@font-face {
    font-family: Gilori-geo;
    src: url("../../assets/fonts/Gilroy\ GEO\ Heavy.ttf");
}

#home_bg1{
    width: 60%;
    margin-top: 100px;
    margin-left: 40%
}
#home_bg2{
    width: 500px;
    margin-top: 150vh;
    margin-left: 3%
}
#home_bg3{
    width: 60%;
    margin-top: 200px;
    margin-left: 40%
}
#home_bg_video{
    width: 100%;
    margin: 0;
}

.home-page__content{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #1d245b;
    min-height: 500vh;
    width: 100%;
    margin-top: -4px;
    position: absolute;
}

.home-page__memory_desc{
    background-color: #192155;
    position: relative;
    z-index: 5;
    padding: 100px;
  
    height: 55%;
    width: 40%;
}
.home-page__memory{
    width: 100%;
    height: 1000px;
    z-index: 1;
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__img_memory{
    width: 48%;
    height: 85%;
    left: 2%;
    z-index: 2;
    position: relative;
}

.home__img_memory>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
}
.content_actual{
    position: absolute;
    width: 100%;
}
.home-page__about{
    width: 100%;
    height: 1000px;
    z-index: 1;
    position: relative;
    top: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__img_ab{
    width: 90%;
    height: 88%;
    position: relative;
    right: 2%;
    z-index: 1;
    
}
.home__img_ab>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-page__about_desc{
    background-color: #192155;
    position: relative;
    z-index: 2;
    width: 75%;
    left: 2%;
    padding: 80px;
    height: 60%;
    padding-left: 5%;
}

.home-page__news{
    width: 100%;
    height: 1000px;
    margin-top: 300px;
    z-index: 1;
    position: relative;
    top: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__img_new{
    width: 55%;
    height: 88%;
    left: 2%;
    background-color: aliceblue;
    z-index: 2;
    position: relative;
}
.home__img_new>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-page__new_desc{
    background-color: #192155;
    position: relative;
    z-index: 5;
    height: 30%;
    right: 2%;
    padding: 80px;
    height: 60%;
    width: 53%;
}

.home-page__products{
    position: relative;
    margin-top: 700px;
    height: 500px;
}
.home__img_pro>img{
    width: 400px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.home_transparent_description{
    background-color: #192155;
    opacity: 0.7;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 5%;
    bottom: -5%;
    color: white;
    padding: 3%;
}
.home_transparent_description>img{
    width: 400px;
    height: 100px;
    margin-bottom: 20px;
}

.home-page__staff{
    margin-top: 110px;
}

.home-page__header{
    display: flex;
    color: white;
}

.bold__header{
    margin-right: 20px;
    font-size: 50px;
    font-family: "Bebas-Neue";
}

.italic__header{
    font-family: "Galaktioni";
    font-size: 50px;
}

#home_hr_txt{
   position: absolute;
   width: 100%;
   left: 0%;
   height: 1px;
   background-color: gray;
   border: none;
}

.home-page__description{
    margin-top: 80px;
    font-family: "webFont";
    color: white;
    font-size: 30px;
    line-height: 40px;
    font-weight: 100;
}

.home-page__button{
    margin-top: 90px;
}

.home-page__button>button{
    width: 300px;
    height: 80px;
    border: 0;
    font-family: "Gilori-geo";
    font-size: 20px;
    color: #1d245b;
    cursor: pointer;
    transition: 0.3s;
}

.home-page__button>button:hover{
    background-color: #192155;
    color: white;
    border: 1px solid white;
}

.about__home__txt{
    font-size: 22px;
}

@media screen and (max-width: 1400px) {
    .about__home__txt{
        font-size: 18px;
        line-height: 28px;
    }
    .home-page__about_desc{
        height: 65%;
    }
    .home-page__description{
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    /* Mobile Version */
    .home-page__memory{
        flex-direction: column;
        width: 100%;
    }
    .home-page__memory_desc{
        width: calc(98% - 200px);
        padding: 0;
       padding: 100px;
    }
    .home__img_memory{
        width: 98%;
        left: 0%;
    }
    .home-page__about{
        flex-direction: column-reverse;
        margin-top: 200px;
    }
    .home-page__about_desc{
        width: 82%;
        left: 0%;
    }
    .home__img_ab{
        width: 98%;
        right: 0;
        height: 60%;
    }
    .home-page__news{
        flex-direction: column;
        margin-top: 350px;
    }
    .home__img_new{
        width: 98%;
        height: 60%;
        left: 0;
    }
    .home-page__new_desc{
        width: 76%;
        right: 0;
    }
    .home-page__products{
        margin-top: 800px;
    }
}